*{
    margin: 0;
    padding: 0;
}
html{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
}

@media (max-width: 768px) {
    html {font-size:10px;}
}
@media (min-width: 768px) {
    html {font-size:14px;}
}
@media (min-width:1200px) {
    html {font-size:16px;}
}

/* _____________________________Headlines____________*/

h1{
    font-size: 7.5rem;
    line-height: 7.5rem;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 2.19rem;
    margin-bottom: 2.5rem;
    display: inline-block;
    position: relative;
    width: 100%;
}
h2{
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    margin: 1.5rem;
}
h3{
    font-size: 1.38rem;
    font-weight: normal;
    text-transform: capitalize;
    white-space: nowrap;
    text-align: center;
    margin: 1.5em;
}

/* __________________________________________*/

p {
    font-size: 1rem;
    color: #999999;
    line-height: 1.38rem;
    text-align: center;
}
.container{
    max-width: 1200px;
    /*min-height: 100px;*/
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/*__________________________ HEADER ______________________*/

.header {
    background-color: #f6f9f9;
    min-height: 6.25rem;
}
.header-logo-link {
    height: 6.25rem;
    line-height: 6.25rem;
    margin-left: 2.5rem;
}
.header-logo {
    width: 9.63rem;
    vertical-align: middle;
}

/* ______________________________Promo section _____________________*/
.promo{
    display: table;
    width: 100%;
    text-align: center;
    background: url(../img/bg-promo.jpg) center;
    background-size: cover;
    min-height: 500px;
    height: calc(100vh - 6.25rem); /*  - header */
    color: #ffffff;
}
.cell{
    display: table-cell;
    vertical-align: middle;
}
.wrap-promo-content{
    display: inline-block;
    max-width: 600px;
    width: 100%;
    position: relative;
}
h1:after {
    content: "";
    height: 2px;
    max-width: 600px;
    width: 100%;
    background-color: #3ba0d1;
    position: absolute;
    left: 0;
    bottom: 0;
}
.promo-subtitle{
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 4.06rem;
    color: #f6f6f6;
}
.btn-call{
    display: inline-block;
    font-size: 1.125rem;
    border: 1px solid #3ba0d1;
    border-radius: 3px;
    text-decoration: none;
    color: #ffffff;
    width: 10.94rem;
    height: 3.44rem;
    line-height: 3.44rem;
    margin: 2px;
}
.btn-call:hover{
    font-size: 1.25rem;
    border: 3px solid #3ba0d1;
    background-color: #3ba0d1;
    margin: 0;
}
.icon-down{
    color: #ffffff;
    font-size: 1.5rem;
    position: absolute;
    left: calc(50% - 0.75rem);
    bottom: 2rem;
}
@media (max-width: 768px) {
    .icon-down{
        display: none;
    }
}

/* _____________________about-design _____________________*/

.about-design{
    padding: 2rem;
    background-color: #f6f9f9;
}
.design-description {
    font-size: 1.25rem;
    color: #999999;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}
.design-items{
    display: inline-block;
    vertical-align: top;
    width: 33%;
}
@media (max-width: 768px) {
    .design-items{
         display: block;
         width: 100%;
     }
}
.bg-icon-item{
    width: 6.25rem;
    height: 6.25rem;
    background: #48baff;
    background: linear-gradient(to right,  #48baff 0%,#48baff 50%,#5fc3ff 51%,#5fc3ff 100%);
    margin: 4rem auto 0;
}
.icon-paper-plane,
.icon-megaphone,
.icon-mobile {
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
}
.icon-mobile{
    font-size: 4.38rem;
}
.icon-paper-plane:before,
.icon-megaphone:before {
    margin-top: calc(50% - 1.25rem);
}
.icon-mobile:before {
    margin-top: calc(50% - 2.19rem);
}
.feature-subscribe {
    padding: 0 15%;
    margin-bottom: 4.38rem;
}

/* ____________________portfolio_______________ */

.portfolio {
    background-color: #f6f9f9;
    padding: 4.5rem 0 7.5rem;
}
.h2-subscribe {
    margin-bottom: 4rem;
}
.portfolio .container {
    font-size: 0;
}
.portfolio-item {
    margin: 1rem;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    background-size: 100% 100%;
}
@media (max-width: 768px) {
    .portfolio-item {
        width: calc(100% - 1rem);
        padding-bottom: calc((100% - 1rem) * 0.72);
    }
}
@media (min-width: 768px) {
    .portfolio-item {
        width: calc(50% - 2rem);
        padding-bottom: calc((50% - 2rem) * 0.72);
    }
}
@media (min-width:1200px) {
    .portfolio-item {
        width: calc(33.3% - 2rem);
        padding-bottom: calc((33.3% - 2rem) * 0.72);
    }
}
.portfolio-item:nth-child(1) {
    background: url(../img/content/portfolio-item-1.png) no-repeat center;
    background-size:  100% 100%;
}
.portfolio-item:nth-child(2) {
    background: #ffffff url(../img/content/portfolio-item-2.png) center no-repeat;
    background-size:  100% 100%;
}
.portfolio-item:nth-child(3) {
    background: #ffffff url(../img/content/portfolio-item-3.png) center no-repeat;
    background-size:  100% 100%;
}
.portfolio-item:nth-child(4) {
    background: #ffffff url(../img/content/portfolio-item-4.png) center no-repeat;
    background-size:  100% 100%;
}
.portfolio-item:nth-child(5) {
    background: #ffffff url(../img/content/portfolio-item-5.png) center no-repeat;
    background-size:  100% 100%;
}
.portfolio-item:nth-child(6) {
    background: #ffffff url(../img/content/portfolio-item-6.png) center no-repeat;
    background-size:  100% 100%;
}
.portfolio-item-hover {
    width: 100%;
    padding-bottom: 72%;
    background-color: rgba(43,172,250,0);
    position: absolute;
    text-align: center;
    vertical-align: middle;
}
.portfolio-item-hover:hover {
    background-color: rgba(43,172,250,.9);
}
.portfolio-item-hover:hover .zoom,
.portfolio-item-hover:hover .link {
    display: inline-block;
}
.zoom-link-wrap{
    position: absolute;
    margin-top: calc(36% - 1.315rem);
    margin-left: calc(50% - 2.63rem - 0.63rem/2);
}
.zoom,
.link {
    display: none;
    width: 2.63rem;
    height: 2.63rem;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 3px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
}
.zoom{
    margin-right: 0.63rem;
}
.zoom:hover,
.link:hover {
    background-color: rgba(21,164,250,1);
}
.icon-link:before,
.icon-zoom-in:before {
    line-height: 2.63rem;
}

/* ____________________________FEEDBACK____________________________________ */

.feedback{
    background: url(../img/bg-feedback.jpg) no-repeat center;
    background-size:  100% 100%;
    min-height: 43rem;
}
.container-feedback {
    max-width: 550px;
    width: 100%;
    display: block;
    padding: 1.5rem 0 6rem;
}
.feedback h2{
    color: #ffffff;
    margin-bottom: 1.5rem;
}
.feedback .h2-subscribe {
    margin-bottom: 3.25rem;
}
input[type="text"],
textarea {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 1.2rem;
    outline: none;
    background: transparent;
    border: 1px solid #999999;
    border-radius: 0.25rem;
    padding-left: 1.25em;
    height: 3.75rem;
    color: #999999;
    box-sizing: border-box;
}
textarea {
    padding-top: 1.5rem;
    height: 10rem;
    font-size: 1rem;
}
input[type="checkbox"] {
    background-color: #fafcfc;
    margin-top: 0.8rem;
}
label[for="subscribe"] {
    padding-left: 1rem;
    color: #ffffff;
    margin-top: 0.8rem;
}
input[type="submit"] {
    font-size: 1rem;
    float: right;
    display: block;
    width: 8.75em;
    height: 2.8rem;
    border: 1px solid #15a4fa;
    border-radius: 0.25rem ;
    color: #ffffff;
    background-color: transparent;
}
input[type="submit"]:hover {
    background-color: #15a4fa;
}
form{
    max-width: 550px;
    width: 100%;
}

/*_______________ FOOTER ____________________________*/

.footer-left {
    float: left;
    height: 5.63rem;
    line-height: 5.63rem;
    margin: 0 1rem;
    padding: 0;
}
